:host {
    // 验证按钮样式
    --puzzle-button-width: 260px; // 按钮宽度
    --puzzle-button-height: 50px; // 按钮高度
    --puzzle-button-fontSize: 16px; // 按钮字体大小
    --puzzle-button-background: #2b2d30; // 按钮背景色
    --puzzle-button-tag: linear-gradient(to bottom, #ceff20 0%, #27e500 100%); // 左侧灯牌背景色

    // 拼图弹窗样式
    --puzzle-popup-background: rgba(43, 45, 48, 1); // 背景色
    --puzzle-popup-title-color: #fff; // 标题颜色
    --puzzle-popup-button-background: linear-gradient(to right, #b5dc2b 0%, #38c21b 100%); // 滑动按钮背景色
}

.puzzle-captcha-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: var(--puzzle-button-fontSize);
    font-family: 'PingFang SC', 'Microsoft YaHei', 'Arial Regular' !important;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-user-select: none; /* 对 WebKit 浏览器 */
        -moz-user-select: none; /* 对 Firefox */
        -ms-user-select: none; /* 对 IE 和 Edge */
        user-select: none; /* 对标准浏览器 */
    }

    img {
        -webkit-user-drag: none; /* 对 WebKit 浏览器 */
        user-drag: none; /* 对其他浏览器 */
    }

    @keyframes enter {
        0% {
            opacity: 1;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes puzzleIn {
        0% {
            width: var(--puzzle-button-width);
            height: var(--puzzle-button-height);
        }
        100% {
            width: 340px;
            height: 390px;
        }
    }

    @keyframes puzzleOut {
        0% {
            width: 340px;
            height: 390px;
        }
        100% {
            width: var(--puzzle-button-width);
            height: var(--puzzle-button-height);
        }
    }

    @keyframes slideInZoom {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            transform: translateX(100%) scale(0.9);
        }

        70% {
            opacity: 1;
            transform: translateX(0) scale(0.9);
        }

        100% {
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }

    .validate-button {
        padding-left: 52px;
        position: relative;
        width: var(--puzzle-button-width);
        height: var(--puzzle-button-height);
        background-color: var(--puzzle-button-background);
        border-radius: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;

        > figure {
            position: absolute;
            left: 0;
            width: 6px;
            height: var(--puzzle-button-height);
            background: var(--puzzle-button-tag);
            border-radius: 2px 0 0 2px;
        }

        > img {
            position: absolute;
            right: 12px;
            width: 24px;
            height: 24px;
        }
    }

    .code-card.puzzleIn {
        animation: puzzleIn 0.3s ease-in;
        animation-fill-mode: forwards;
    }

    .code-card.puzzleOut {
        animation: puzzleOut 0.3s ease-out;
        animation-fill-mode: forwards;
    }

    .code-card {
        position: absolute;
        padding: 0 20px;
        padding-top: 25px;
        background-color: var(--puzzle-popup-background);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        overflow: hidden;

        .card__image.animate__slideInZoom {
            animation: slideInZoom 1s ease-out;
        }

        .card__image.animate__fadeOutLeft {
            animation-name: fadeOutLeft;
        }

        .success-tip {
            position: absolute;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background: linear-gradient(to right, #b5dc2b 0%, #38c21b 100%);
            text-align: center;
            animation: enter 0.2s linear;
        }

        .fail-tip {
            position: absolute;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background: #ff5d47;
            text-align: center;
            animation: enter 0.2s linear;
        }

        h3 {
            color: var(--puzzle-popup-title-color);
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            animation-fill-mode: forwards;
        }

        .card__image {
            margin-top: 22px;
            position: relative;
            width: 100%;
            height: 190px;
            border-radius: 6px;
            overflow: hidden;
            background-color: #fff;
            animation-fill-mode: forwards;

            img {
                width: 100%;
                height: 100%;
            }

            .image__shape {
                position: absolute;
                left: 20px;
                top: 50px;
                width: 60px;
                height: 60px;
            }
        }

        .card__process {
            margin-top: 20px;
            position: relative;
            height: 80px;
            display: flex;
            align-items: center;
            animation-fill-mode: forwards;

            .process__bar {
                width: 100%;
                height: 16px;
                background: #474a4d;
                border-radius: 20px;
            }

            .process__slider {
                position: absolute;
                left: 0;
                width: 80px;
                height: 50px;
                background: var(--puzzle-popup-button-background);
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 22px;
                    height: 16px;
                }
            }
        }

        footer {
            display: flex;

            img {
                width: 24px;
                height: 24px;
            }

            p {
                flex-grow: 1;
            }
        }
    }

    .puzzle-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}
