@keyframes enter {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.success-tip {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: linear-gradient(to right, #b5dc2b 0%, #38c21b 100%);
    text-align: center;
    animation: enter 0.2s linear;
}

.fail-tip {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ff5d47;
    text-align: center;
    animation: enter 0.2s linear;
}

.code-card {
    padding: 0 20px;
    padding-top: 25px;
    width: 340px;
    height: 390px;
    background-color: rgba(43, 45, 48, 1);
    display: flex;
    flex-direction: column;
    border-radius: 6px;

    h3 {
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }

    .card__image {
        margin-top: 22px;
        position: relative;
        width: 100%;
        height: 190px;
        border-radius: 6px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        .image__shape {
            position: absolute;
            left: 20px;
            top: 50px;
            width: 50px;
            height: 50px;
        }
    }

    .card__process {
        margin-top: 20px;
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;

        .process__bar {
            width: 100%;
            height: 16px;
            background: #474a4d;
            border-radius: 20px;
        }

        .process__slider {
            position: absolute;
            left: 0;
            width: 80px;
            height: 50px;
            background: linear-gradient(to right, #b5dc2b 0%, #38c21b 100%);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 22px;
                height: 16px;
            }
        }
    }

    footer {
        display: flex;

        img {
            width: 24px;
            height: 24px;
        }

        p {
            flex-grow: 1;
        }
    }
}
